/* Razor UI Grid by Leonie Kenyon */
.container { width:950px; }
	.row { width:960px; }
	.row:after { clear:both; }
		.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .grid12, .grid13, .grid14, .grid15, .grid16, .grid17, .grid18, .grid19, .grid20, .grid21, .grid22, .grid23, .grid24 { float:left; min-height:1px; margin-right:10px; margin-bottom:10px; }
		.grid24 { width:950px; }
		.grid23 { width:910px; }
		.grid22 { width:870px; }
		.grid21 { width:830px; }
		.grid20 { width:790px; }
		.grid19 { width:750px; }
		.grid18 { width:710px; }
		.grid17 { width:670px; }
		.grid16 { width:630px; }
		.grid15 { width:590px; }
		.grid14 { width:550px; }
		.grid13 { width:510px; }
		.grid12 { width:470px; }
		.grid11 { width:430px; }
		.grid10 { width:390px; }
		.grid9 { width:350px; }
		.grid8 { width:310px; }
		.grid7 { width:270px; }
		.grid6 { width:230px; }
		.grid5 { width:190px; }
		.grid4 { width:150px; }
		.grid3 { width:110px; }
		.grid2 { width:70px; }
		.grid1 { width:30px; }                    