@media screen and (max-width:767px) {
	.container { width:auto; }
		.row { width:100%; }
			.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .grid12, .grid13, .grid14, .grid15, .grid16, .grid17, .grid18, .grid19, .grid20, .grid21, .grid22, .grid23, .grid24 { width:100%; }
		
	.hidden-phone { display:none; }
}