@media screen and (min-width:980px) and (max-width:1199px) {
	.break-into-1-desktop { width:950px; }
	.break-into-2-desktop { width:470px; }
	.break-into-3-desktop { width:310px; }
	.break-into-4-desktop { width:230px; }
	
	.hidden-desktop { display:none; }
}