extends layout

block content
	.row
		.grid24
			h1 Registration Details

			form(action='/signup', method='POST')
				input(type='text', name='username', placeholder='Username',required, autofocus)
				input(type='password', name='password', placeholder='Password', required)
				input(type='email', name='email', placeholder='Email', required)
				input(type='text', name='firstName', placeholder='First Name', required)
				input(type='text', name='lastName', placeholder='Last Name', required)
				button(type='submit') Register

			#message
				if message
					p #{message}
